<!DOCTYPE html>
<html lang="en">
<head>
    <% include elements/tag_head.ejs%>
</head>
<body>
<!--
	Upper Header Section
-->
<% include elements/upper_header.ejs%>
<!--
Lower Header Section
-->
<div class="container">
    <% include elements/lower_header.ejs%>

    <!--
    Navigation Bar Section
    -->
    <% include elements/navbar.ejs%>
    <!--
    Body Section
    -->
    <div class="row">
        <div class="span12">

            <div class="well well-small">
                <h1>Thông tin gian hàng</h1>
                <hr class="soften"/>

                <table class="table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th>Gian hàng</th>
                        <th>Tên</th>
                        <th>Địa chỉ</th>
                        <th>Liên lạc</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><img href="/products"width="80" src="assets/img/e.jpg" alt=""></td>
                        <td>Cửa hàng nhẫn</td>
                        <td> Quang trung </td>
                        <td>0123456789 </td>


                    <tr>
                        <td><img href="/products"  width="80" src="assets/img/f.jpg" alt=""></td>
                        <td>Cửa hàng vòng tay</td>
                        <td> Gò vấp </td>
                        <td>0123456789 </td>
                    </tr>
                    </tbody>

                </table><br/>



            </div>
        </div>
    </div>

</div>
</body>
</html>
